# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# test scripts
test.py
test.json

# output
output/*
!output/README.txt

# temp files
temp/*
!temp/README.txt